@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --headerheight: 2rem;
    --headerPaddingTop: .5rem;
    --paper: rgb(255, 250, 240);
    --paper-transparent: rgba(255,250,240,.9);
    --blue: rgb(169,203,227);
    --yellow: #ffcc00;
}

body {
    margin: 0; padding:0;
    text-align: center;
    line-height: 1.5;
    font-size:150%;
    color: #222;
    background-color: var(--paper);
    opacity: 0;
    transition: opacity 1000ms ease-in-out 0ms;
}

body > * {
    font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
    padding-left: 5vw;
    padding-right: 5vw;
}

#header {
    z-index: 10;
    width: 90vw;
    height: calc(var(--headerheight) - 1px);
    margin: 0;
    padding-top: var(--headerPaddingTop);
    background-color: var(--paper-transparent);
    position: fixed;
    top:0;
    left: 0;
    text-align: left; 
    border-bottom: 1px solid black;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; */
}

#header h2 {
    /* flex: 0 0 auto; */
    width: fit-content;
    max-width: 40rem;
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

/* #header p {
    flex: 0 0 auto;
    width: fit-content;
    margin:0;
    text-align: right;;
} */

#content {
    padding-top: /* to accommodate the fixed header */ calc(var(--headerheight) + var(--headerPaddingTop)); 
    text-align: center;
}

#content > * ,
#content > #articleText > * {
    margin-left: auto; margin-right: auto;
}
h1,h2,h3,p,.infogram-embed,iframe {
    width: 90vw;
    max-width: 40rem;
    margin-left: auto; margin-right: auto;
}

h1 {
    font-size: 135%;
    line-height: 108%; 
    padding-top: 1rem; padding-bottom: 1rem;
    border-top: 1px solid black; border-bottom: 1px solid black;
}

h2 {
    font-size: 95%;
    text-align: left;
    margin-top: 2.25rem;
}
h3 {
    text-align: left;
    font-size: 80%;
    font-weight: bold;
}

p.author {
    text-align: center;
    font-size: 1rem;
}
p+h1 {
    margin-top: -.75rem;
}

hr {
    max-width: 40rem;
}

#articleText { 
    margin-top: 2rem;
}

p {
    font-size: 70%;
    text-align: left;
}

#aboutProject {
    position: fixed;
    right: 0; left: 0;
    bottom: /*placeholder */ calc(-100vh);
    transition: bottom 600ms ease-in 0ms;
    /* background-color: #fcc000; */
    text-align: center;
    font-size: 85%;
}

#aboutProject p {
    background-color: var(--yellow);
    border-top: 4px solid var(--paper);
    border-bottom: 4px solid var(--paper);
    width: calc(90%);
    max-width: calc(40rem - 8rem - 8px);
    margin-left: auto; margin-right: auto;
    padding: 1rem;
}

img {
    width: 40rem;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img.fullWidthImage {
    position: relative;
    width: 100%;
    max-width: 60rem;
}

#footer {
    margin-left: auto; margin-right: auto;
    border-top: 1px solid black;
    width :fit-content;
    padding-top: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}